# sbt specific
target/
lib_managed/
src_managed/
project/target/
project/project/
.history
.cache
.lib/

# Play specific
logs/
dist/
tmp/
public/

# Eclipse specific
.eclipse/
.classpath
.project
.settings/

# IntelliJ specific
.idea/
*.iws
*.iml
*.ipr

# VS Code specific
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Environment variables
.env