<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <ng-template [ngIf]="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/books">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/genres">Genres</a>
                    </li>
                    <ng-template [ngIf]="hasAuthorityAdmin()">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/users">Users</a>
                        </li>
                    </ng-template>


                    <!-- Dropdown meni -->

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-bs-toggle="dropdown">
                            <b>{{ getAuthUser().email }}</b>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" (click)="redirectLogout()">Logout</a></li>
                        </ul>
                    </li>
                    
                </ng-template>
            </ul>
        </div>
    </div>
</nav>