<div class="container mt-4">
    <h2 class="text-center">Book Details</h2>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Preview</th>
                <td><img [src]="getBookImage(getBook())" alt="Book cover" class="preview-img"></td>
            </tr>
            <tr>
                <th>ID</th>
                <td [innerHTML]="getBook().bookId"></td>
            </tr>
            <tr>
                <th>Title</th>
                <td [innerHTML]="getBook().title"></td>
            </tr>
            <tr>
                <th>Author</th>
                <td [innerHTML]="getBook().author"></td>
            </tr>
            <tr>
                <th>Description</th>
                <td [innerHTML]="getBook().description"></td>
            </tr>
            <tr>
                <th>Genre</th>
                <td [innerHTML]="getGenre(getBook()).name"></td>
            </tr>
            <tr>
                <th>Price</th>
                <td>€&#160;{{ getBook().price | number:'1.2-2' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="button-container">
        <button class="btn btn-secondary" (click)="goBack()">Back</button>
        <ng-container *ngIf="hasAuthorityAdmin()">
            <button class="btn btn-warning" [routerLink]="[`/books/updateBook/`, getBook().bookId]">Update</button>
            <button class="btn btn-danger" (click)="deleteBook(getBook().bookId)">Delete</button>
            <button class="btn btn-info" [routerLink]="[`/books/addImage/`, getBook().bookId]">Add Image</button>
        </ng-container>
    </div>
</div>