.user-table td, 
.user-table th {
    text-align: center;
    vertical-align: middle;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination button {
    background-color: #800020;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background-color: #590015;
}

.pagination span {
    font-weight: bold;
}

.enabled {
    color: green;
    font-weight: bold;
}

.disabled {
    color: red;
    font-weight: bold;
}
