.jumbotron {
    background-color: #f8f9fa;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #800020; /* Bordo nijansa */
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #590015; /* Tamnija nijansa */
}
